*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
mat-sidenav {
    width: 240px; // o el valor que prefieras
    max-width: 80vw; // para que nunca ocupe más del 80% del ancho de pantalla
}

.logo {
    color: inherit;
    text-decoration: none;
}

.my-name {
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #333;
    font-weight: bolder;
}

.toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.spacer {
    flex: 1 1 auto;
}

.desktop-nav {
    display: flex;
    gap: 10px;
}

.mobile-toggle {
    display: none;
}

@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .mobile-toggle {
        display: inline-flex;
    }
}
.example-spacer {
    flex: 1 1 auto;
}

.mobile-menu {
    height: fit-content;
    
    a, mat-icon, span {
        margin: 8px;
        vertical-align: middle;
    }
}
