<div class="main-container">
  <div class="main-container2">
    <div class="about-container">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <img
              mat-card-lg-image
              src="yo.jpeg"
              alt="José Miguel Martínez Ortiz"
            />
            <div class="header-text-container">
              <mat-card-title>Sobre mí</mat-card-title>
              <mat-card-subtitle>José Miguel Martínez Ortiz</mat-card-subtitle>
            </div>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            Soy desarrollador de Aplicaciones Web con formación sólida y
            experiencia práctica en proyectos reales. Me apasiona el desarrollo
            completo, desde la lógica del backend hasta la experiencia del
            usuario en el frontend.
          </p>
          <p>
            Me siento especialmente cómodo en el backend, trabajando con
            tecnologías como Java, PHP, Laravel y bases de datos relacionales.
            En el frontend, tengo experiencia con Angular, framework con el que
            he desarrollado tanto proyectos personales como en prácticas.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a
            matButton="tonal"
            href="cv.pdf"
            download="José_Miguel_Martínez_BackendDeveloper.pdf"
            target="_blank"
          >
            <mat-icon>download</mat-icon>Descargar CV
          </a>
          <button matButton="tonal" routerLink="/contact">
            <mat-icon>perm_contact_calendar</mat-icon>Contacto
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>school</mat-icon>
            Educación
          </mat-panel-title>
        </mat-expansion-panel-header>
        @for (cert of certs; track $index) {
        <app-education-card [data]="cert"></app-education-card>
        }
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>verified</mat-icon>
            Cursos Adicionales
          </mat-panel-title>
        </mat-expansion-panel-header>
        @for (cert of otros; track $index) {
        <app-education-card [data]="cert"></app-education-card>
        }
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
