<div class="main-container">
  <div class="main-container2">
    <div class="about-container">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <img mat-card-lg-image src="yo.jpeg" alt="José Miguel Martínez Ortiz" />
            <div class="header-text-container">
              <mat-card-title>Sobre mí</mat-card-title>
              <mat-card-subtitle>José Miguel Martínez Ortiz</mat-card-subtitle>
            </div>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            Soy desarrollador de Aplicaciones Web, apasionado por la programación y
            el proceso creativo de desarrollo. Me encanta el desafío de resolver
            problemas y crear soluciones visualmente atractivas y funcionales.
          </p>
          <p>
            Soy proactivo y apasionado por aprender. Con capacidad para adaptarme y
            trabajar en equipo, me preparo para ser Full Stack Web Developer.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a
            matButton="tonal"
            href="cv.pdf"
            download="José_Miguel_Martínez_WebDeveloper.pdf"
            target="_blank"
          >
            <mat-icon>download</mat-icon>Descargar CV
          </a>
          <button matButton="tonal" routerLink="/contact">
            <mat-icon>perm_contact_calendar</mat-icon>Contacto
          </button>
        </mat-card-actions>
      </mat-card>
    </div>


    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>school</mat-icon>
            Educación
          </mat-panel-title>
        </mat-expansion-panel-header>
        @for (cert of certs; track $index) {
        <app-education-card [data]="cert"></app-education-card>
        }
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>verified</mat-icon>
            Cursos Adicionales
          </mat-panel-title>
        </mat-expansion-panel-header>
        @for (cert of otros; track $index) {
        <app-education-card [data]="cert"></app-education-card>
        }
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
