<div class="main-container">
  <div class="second-container">
    <div class="info-container">
      <h2>José Miguel Martínez</h2>
      <p>Construyendo cosas útiles, bonitas y que funcionen.</p>
    </div>
    <img src="ai.png" alt="Stiker Inicio" />
  </div>
  <div class="container-links">
    <a href="https://github.com/jomaorx" target="_blank" title="GitHub">
      <img src="github.png" alt="GitHub de José Miguel" />
    </a>
    <a href="https://linkedin.com/in/martinez97pro" target="_blank" title="LinkedIn">
      <img src="linkedin.png" alt="LinkedIn de José Miguel" />
    </a>
    <a href="mailto:martinez97.pro@gmail.com" aria-label="Email">
      <img src="email.png" alt="Email" title="Email"/>
    </a>
  </div>
  <a
    matButton="tonal"
    href="cv.pdf"
    download="José_Miguel_Martínez_WebDeveloper.pdf"
    target="_blank"
    class="download-button"
  >
    <mat-icon>download</mat-icon> Descargar CV
  </a>
</div>
