.main-container {
    margin: 3% auto 3% auto;
    width: 50%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: var(--h-bg);
    border: 4px solid var(--bdr-c1);
    text-align: center;
}

.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.info-container {
    h2 {
        color: var(--h-h2);
        font-size: 2.5rem;
        margin: 0;
    }

    p {
        font-weight: 600;
        font-style: italic;
        color: var(--h-p) !important;
        margin-top: 1rem;
    }
}

.container-links {
    display: flex;
    gap: 1.2rem;
    margin: 1rem 0;

    img {
        width: 32px;
        filter: var(--icon-filter);
        transition: transform 0.2s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
}

mat-button {
    background-color: #fff;
    margin-top: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
    .second-container {
        margin: 0;
        .info-container {
            h2 {
                font-size: 2rem;
            }

            p {
                margin: 0;
                font-size: 0.9rem;
                font-weight: 600;
                font-style: italic;
                color: #eee;
                margin-top: 1rem;
            }
        }

        img {
            width: 158px;
        }
    }
}