<div class="item-container">
  <div class="laptop-container">
    <img src="pantalla.png" alt="Laptop" class="laptop-image" />
    <div class="laptop-screen">
      <img [src]="data.photos[0]" alt="foto del proyecto {{ data.title }}" />
    </div>
  </div>

  <div class="info-item">
    <h3 class="title-item">{{ data.title }}</h3>
    <p class="subtitle-item">{{ data.subtitle }}</p>
    <div class="chip-center">
      @for (skill of data.mainSkills; track $index) {
      <app-tech-chip [name]="skill"></app-tech-chip>
      }
    </div>

    <a matButton="elevated" routerLink="/projects/{{ data.id }}">
      <mat-icon>visibility</mat-icon>Detalles
    </a>
  </div>
</div>